@import "tailwindcss";

body {
  background-color: #fffefe;
}

#square {
  margin: 10px;
  transition: all 0.3s ease-in-out;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}